body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin-left: 350px;
    margin-top: 150px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-picture {
    border-radius: 50%; /* Make the image circular */
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    position: absolute; /* Position the image */
    margin-top: 160px;
    top: 10px; /* Distance from the top */
    left: 650px; /* Distance from the left */
    object-fit: cover; /* Ensure the image fills the container without stretching */
    z-index: 1; /* Ensure the image is above the note box */
}

h2 {
    margin-top: 10px;
    margin-left: 340px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.btn-back {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn-back:hover {
    background-color: #d32f2f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.update-link, .delete-link {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

.update-link:hover, .delete-link:hover {
    color: #0056b3;
}
