

.penalty-message {
    text-align: center;
    color: red;
    font-size: x-large;
    margin-top: 250px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
}
.penalty-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.back-button:hover{
    background-color: #0056b3;
}
.penalty-button:hover {
    background-color: #45a049;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
